<nav class="navbar fixed-top navbar-toggleable-sm navbar-toggler-right navbar-inverse bg-inverse">
    <router-link class="navbar-brand" to="/">
      <img alt="Brand" src="~assets/images/logo.png" height="20" />
    </router-link>
  <ul class="navbar-nav ml-auto">
    <router-link class="nav-item" tag="li" to="/" exact>
      <a class="nav-link"><i class="fa fa-home"></i> Home</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/posts" exact>
      <a class="nav-link"><i class="fa fa-file-text-o"></i> Posts</a>
    </router-link>
<!--     <router-link class="nav-item" tag="li" to="/posts/create" exact>
      <a class="nav-link"><i class="fa fa-pencil"></i> Create post</a>
    </router-link> -->
        <router-link class="nav-item" tag="li" to="/projects" exact>
      <a class="nav-link"><i class="fa fa-folder"></i> Projects</a>
    </router-link>
    <router-link class="nav-item" tag="li" to="/contact" exact>
      <a class="nav-link"><i class="fa fa-envelope"></i> Contact</a>
    </router-link>
  </ul>
</nav>
