<div class="text-center">

  <h1 class="mb-4">Vue.js</h1>

  <div id="example">
    <p>Vue.js uses reactive data: <br />
     {{ messages }}</p>
    <button v-on:click="subtract"><i class="fa fa-minus"></i></button>
    <button v-on:click="add"><i class="fa fa-plus"></i></button>
    <hr>

    <div>
      <input type="text" placeholder="search user" v-model="search"></input>
      <button style="margin-bottom:20px;" v-on:click="getData">Search Github</button><button v-on:click="clearSearch">x</button> <br />
      <img :src="imgSrc" alt="profile img" style="border-radius:50%; max-width:100px;"/>
      <a :href="profileLink"><h3>{{username}}</h3></a>
      <h5>{{name}}</h5>
      <h5>{{location}}</h5>
      <h5>Repos: {{repos}}</h5>
    </div>
  </div>
</div>

